<div id="divUno" class="vh-100" [style.background-image]="'url(assets/pig.png)'">
  <img id="circulo3" src="assets/circulo.png">
  <img id="circulo2" src="assets/circulo.png">
  <img id="circulo1" src="assets/circulo.png">
  <div id="pressT" class="text-center">
    <span>Press <br> To <br>Start</span>
  </div>
  <div id="pcTXT" class="text-center container">
    <p>Este proyecto es demostrativo, en el encontraras algunas APIS y sus funcionalidades </p>
  </div>
  <img id="nube" src="assets/nube.png">
  <img id="futbolista" src="assets/futbolista.png">
  <img id="futbolistapc" src="assets/futbolista.png">
  <img id="pikachu" src="assets/avatar.png">
</div>
