img{
  border-radius: 50%;
}
::ng-deep body{
  overflow-x: hidden;
}
#infoDiv{
  border-left: 10px red solid;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transform: scale(0.7);
}
#chartDiv{
  padding-bottom: 50px;
}
@media only screen and (max-width: 600px){
  img{
    width: 80%;
  }
  #historical{
    font-size: large;
  }
}

@media only screen and (min-width: 601px){
  img{
    width: 27%;
    height: 27%;
  }
  #chart{
    width: 80%;
    margin-left: 6rem;
  }
  #historical{
    font-size: x-large;
  }
}
