.p-button-raised{
  width: 100%;
  margin-block: 10px;
}
#APIHeader{
  text-align: center;
  font-size: 30px;
  margin-bottom: 13px;
}
.p-text-bold{
  width: inherit;
}
a{
  text-decoration: none;
}
#showMenu{
  margin: 10px;
  position: fixed;
  z-index: 10;
}
