<app-market-navbar></app-market-navbar>
<div class="text-center mt-4">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg">
</div>
<div class="container mt-5">
  <div class="container">
    {{conmpanyInfo.company_profile.Description}}
  </div>
  <div id="infoDiv">
    <p-card>
      <h2>Info</h2>
      <div>
        Web Site: {{conmpanyInfo.company_profile.Website}}
      </div>
      <div>
        Exchage: {{conmpanyInfo.company_profile.Exchange}}
      </div>
      <div>
        Industry: {{conmpanyInfo.company_profile.Industry}}
      </div>
      <div>
        Sector: {{conmpanyInfo.company_profile.Sector}}
      </div>
      <div>
        Full Time Employees: {{conmpanyInfo.company_profile["Full Time Employees"]}}
      </div>
      <div>
        Country: {{conmpanyInfo.company_profile.Country}}
      </div>
      <div>
        City: {{conmpanyInfo.company_profile.City}}
      </div>
    </p-card>
  </div>
  <h2>News</h2>
  <div class="row p-0 m-0">
    <div class="col-lg-6">
      <div class="shadow mb-4" *ngFor="let post of news">
        <p-card>
          <h4 style="height: 6rem">{{post.title.substring(0,88)}}...</h4>
          <span>{{post.published_date.substring(0,10)}}</span>
          <div>
            <a class="btn btn-outline-dark d-block" target="_blank" [href]="post.url">Ver</a>
          </div>
        </p-card>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="shadow mb-4" *ngFor="let post of news2">
        <p-card>
          <h4 style="height: 6rem">{{post.title.substring(0,88)}}...</h4>
          <span>{{post.published_date.substring(0,10)}}</span>
          <div>
            <a class="btn btn-outline-dark d-block" target="_blank" [href]="post.url">Ver</a>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>

<p-divider align="center">
  <h2 id="historical" class="p-tag">Historical value</h2>
</p-divider>

