<nav class="navbar navbar-expand navbar-dark bg-dark py-3">
  <div class="collapse navbar-collapse container" id="navbarsExample02">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="api/market/apple">Apple</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="api/market/google">Google</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="api/market/amazon">Amazon</a>
      </li>
    </ul>
  </div>
</nav>
